.nav {
  background-color: rgb(71, 68, 233);
  display: grid;
  grid-template-columns: 25rem 1fr;
}

.dash,
.activ,
.time {
  text-align: left;
  padding: 2rem 4rem;
  display: flex;
  align-items: center;
}

.dash h2,
.activ h2,
.time h2 {
  padding: 0 2rem;
  color: #fff;
}

.first {
  padding: 2rem 4rem;
}

hr {
  width: 12%;
  margin: 0 4rem;
}

.center {
  background-color: #f8f8f8;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  background-color: aqua;
}
