.nav {
  background-color: rgb(71, 68, 233);
  display: grid;
  grid-template-columns: 1fr;
}

.dash,
.activ,
.time {
  padding: 2rem 4rem;
  display: flex;

  align-items: center;
}
.first {
  padding: 2rem 4rem;
}

hr {
  width: 2%;
  margin: 0 4rem;
}
